<form action="/login" method="POST">
  <input
    class="input"
    type="email"
    id="email"
    name="email"
    placeholder="Ex: teste@gmail.com"
    autofocus
    required
  />
  <input
    class="input"
    id="password"
    type="password"
    name="password"
    placeholder="Ex: senha123"
  />
  <input class="input" id="botao" type="submit" value="Sign in" />
</form>
<div class="textoP">
  <p>
    Don't have an account with Wolf Games?
    <a href="/register">Create a Wolf Games account.</a>
  </p>
</div>