<form action="/perfil/{{user._id}}" method="POST">
  <input
    class="input"
    type="text"
    id="name"
    name="name"
    placeholder="Nome Ex: Maria Santos"
    autofocus
    required
  />
  <input
    class="input"
    type="text"
    id="cpf"
    name="cpf"
    placeholder="CPF Ex: 00022255589"
    autofocus
    required
  />
  <input
    class="input"
    type="email"
    id="email"
    name="email"
    placeholder="Email Ex: teste@gmail.com"
    required
  />
  <input
    class="input"
    id="password"
    type="password"
    name="password"
  />
  <input class="input" id="botao" type="submit" value="Alterar Conta" />
</form>

<form action="/perfil/{{user._id}}" method="POSt">
  <input class="input" id="botao2" type="submit" value="Excluir Conta" />
</form>
