<form action="/register" method="POST">
  <input
    class="input"
    type="text"
    id="name"
    name="name"
    placeholder="Nome Ex: Maria Santos"
    autofocus
    required
  />
  <input
    class="input"
    type="text"
    id="cpf"
    name="cpf"
    placeholder="CPF Ex: 00022255589"
    autofocus
    required
  />
  <input
    class="input"
    type="email"
    id="email"
    name="email"
    placeholder="Email Ex: teste@gmail.com"
    required
  />
  <input
    class="input"
    id="password"
    type="password"
    name="password"
    placeholder=" Senha Ex: senha123"
  />
  <input class="input" id="botao" type="submit" value="Create account" />
</form>
