<!DOCTYPE html>
<html lang="pt-br">
  <html>
    <!---Head--->
    {{>static/head}}
    <body class="background">
      <!--Cabeçalho-->
      {{>static/header}}
      <!--Conteúdo Da Pagina-->
      <main class="main">
        <div class="texto">
         
        </div>
        <section class="localLogin">
          <div class="loginQua">
            <!--Importe Template----->
            {{>dynamic/formGame}}
          </div>
        </section>
      </main>
      <!--Rodapé-->
      <div class="footerOtrasPag">
        {{>static/footer}}
      </div>
    </body>
  </html>
</html>
