<!DOCTYPE html>
<html lang="pt-br">
  <html>
    <!---Head--->
    {{>static/head}}
    <body class="background">
      <!--Cabeçalho-->
      {{>static/header}}
      <!--Conteúdo Da Pagina-->
      <main class="main">
        <div class="titulo">
          <h1>Perfil</h1>
        </div>
        <section class="localLogin">
          <div class="loginQua">
            <div class="posiImg">
              <div class="perfil">
                <p>Nome: {{ user.name }}<p>
                  <p>CPF: {{ user.cpf }}<p>
                  <p>Email: {{ user.email }}</p>
              </div>
            </div>

            {{>dynamic/formPerfil}}
          </div>
        </section>
      </main>
      <div class="footerOtrasPag">
        {{>static/footer}}
      </div>
    </body>
  </html>
</html>
