<!DOCTYPE html>
<html lang="pt-br">
  <html>
    <!---Head--->
    {{>static/head}}
    <body class="background">
      <!--Cabeçalho-->
      {{>static/headerLogado}}
      <!--Conteúdo Da Pagina-->
      <main class="main">
        <div class="titulo">
          <h1>Perfil</h1>
        </div>
        <section class="localLogin">
          <div class="loginQua">
            {{>dynamic/formPerfil}}
          </div>
        </section>
      </main>
      <div class="footerOtrasPag">
        {{>static/footer}}
      </div>
    </body>
  </html>
</html>
