<!DOCTYPE html>
<html lang="pt-br">
  <html>
    <!---Head--->
    {{>static/head}}
    <body class="background">
      <!--Cabeçalho-->
      {{>static/header}}
      <!--Conteúdo Da Pagina-->
      <main class="main">
        <div class="titulo">
          <h1>Register</h1>
        </div>
        <section class="localLogin">
          <div class="loginQua">
            <div class="posiImg">
              <img src="/images/logoWolf.PNG" />
            </div>
            {{>dynamic/formRegister}}
            
          </div>
        </section>
      </main>
      <div class="footerOtrasPag">
        {{>static/footer}}
      </div>
    </body>
  </html>
</html>