<div class="titulo">
  <h1>About</h1>
</div>
<div class="paragrafoTemplate">
  <p>
    Será desenvolvido o site fictício para a matéria de Web 2, chamado Wolf
    Games, um site de jogos digitais baseados na Steam e Epic Games, onde o
    usuário poderá inserir um jogo criado por ele para vender.
    <br />
    Nele terá as seguintes seções: página inicial, login, cadastro, home, sobre,
    comunidade e loja. Onde o usuário poderá inserir jogos, editar e excluir o
    seu jogos da loja.
  </p>
</div>
