<div class="titulo">
  <h1>Description Author</h1>
</div>
<div class="paragrafoTemplate">
  <p>
    Meu nome é Philippe, sou aluno do 7º período de Engenharia de Software na
    UTFPR-CP. Não sou o maior entendedor de programação ou de todas as
    linguagens, mas me viro.
    <br />
    Eu me atrapalho quando vou fazer provas por nervosismo, uma coisa na qual
    estou trabalhando para mudar. Eu nunca trabalhei no ramo da tecnologia,
    fazia trabalhos mais braçais, por assim dizer. Tenho meus problemas, mas me
    considero uma pessoa esforçada.
    <br />
    Meu objetivo no momento é encontrar um trabalho na área de desenvolvimento
    de jogos digitais.
  </p>
</div>
