<div class="titulo">
  <h1>Technologies e Bibliotecas Utilizadas</h1>
</div>
<div class="paragrafoTemplate">
 <div class="lista">
  <ul>
    <li>Node.js</li>
    <li>Express</li>
    <li>Nodemon</li>
    <li>Mustache</li>
    <li>Nodemailer</li>
    <li>dotenv</li>
    <li>Mailtrap</li>
    <li>MongoDB</li>
    <li>API REST</li>
  </ul>
  <ul>
    <li>Javascript</li>
    <li>HTML</li>
    <li>CSS</li>
  </ul>
 </div>
  <p>
    Caso haja novas ferramentas, será feita uma
    atualização no futuro desta página.
  </p>
</div>
