<div class="titulo">
  <h1>About</h1>
</div>
<div class="paragrafoTemplate">
  <p>
    Será desenvolvido o site fictício para a matéria de Web 2, chamado Wolf
    Games, um site de compra de jogos digitais baseados na Steam e Epic Games.
    <br />
    Nele terá as seguintes seções: página inicial, login, cadastro, home, sobre,
    comunidade e loja. Onde o usuário poderá fazer compras, editar seu cadastro,
    itens da compra e montar uma biblioteca.
  </p>
</div>
