<!-----Rodapé-->
<footer class="posi">
  <div class="msg">
    <p>
      &copy; 2023 All rights reserved by Wolf Games Studios. The content of this
      website, including texts, images, and design, is the exclusive property of
      Wolf Games Studios and is protected by copyright laws. No content from
      this website may be reproduced, distributed, or used without the written
      authorization of Wolf Games Studios.
    </p>
  </div>
  <div class="favicon">
    <a href="#"
      ><i class="fa-brands fa-instagram" style="color: #030303"></i
    ></a>
    <a href="#"><i class="fa-brands fa-discord" style="color: #050505"></i></a>
    <a href="#"><i class="fa-brands fa-youtube" style="color: #0a0a0a"></i></a>
    <a href="#"><i class="fa-brands fa-twitter" style="color: #0c0d0d"></i></a>
    <a href="#"><i class="fa-brands fa-twitch" style="color: #0f0f0f"></i></a>
  </div>
</footer>
