<form action="/contact/teste" method="POST">
  <input
    class="input"
    type="text"
    id="nome"
    name="nome"
    placeholder="Nome Ex: Maria Santos"
    autofocus
    required
  />
  <input
    class="input"
    type="email"
    id="email"
    name="email"
    placeholder="Ex: teste@gmail.com"
    required
  />
  <input
    class="input"
    type="assunto"
    id="assunto"
    name="assunto"
    placeholder="Assunto Ex: Site"
    required
  />
  <textarea
    id="mensagem"
    name="mensagem"
    placeholder="Digite sua mensagem aqui"
    rows="5"
    cols="50"
    required
  ></textarea>
  <input class="input" type="submit" value="Send Your Message" />
</form>
