<!--Nave de Menu--->
<header>
  <nav class="navbar navbar-expand-sm">
    <div class="navbar navbar-expand-sm">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home"
          ><img src="/images/logoNav.PNG" alt="logoMenu"
        /></a>
        <div class="buttonNv">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mynavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link txtColor" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link txtColor" href="//comunity">Comunity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link txtColor" href="/store">Store</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
