<div class="titulo">
  <h1>Welcome!!!</h1>
</div>
<div class="paragrafo">
  <p>
    Welcome to Wolf Games, your new game store. If you're not yet part of our
    family, please register and login to start shopping and take advantage of
    our offers.
  </p>
</div>
