<!DOCTYPE html>
<html lang="pt-br">
  <html>
    <!---Head--->
    {{>head}}
    <body class="background ">
      <!--Cabeçalho-->
      {{>header}}
      <!--Conteúdo Da Pagina-->
      <main class="main">
        <div class="texto">
          <div id="texto">
            <!--Importe do javascript usado aqui-->
            <script src="javascripts/textoRotaInicial.js"></script>
          </div>
        </div>
        <section class="localLogin">
          <div class="loginQua">
            <div class="posiImg">
              <img src="/images/logoWolf.PNG" />
            </div>
            <!--Importe Template----->
            {{>formLogin}}
          </div>
        </section>
      </main>
      <!--Rodapé-->
      {{>footer}}
    </body>
  </html>
</html>
