<div class="titulo">
  <h1>Technologies</h1>
</div>
<div class="paragrafoTemplate">
  <p>
    As tecnologias e bibliotecas utilizadas: Node.js, Express, Nodemon,
    Mustache, Nodemailer, Mailtrap, MongoDB, API REST e a linguagem JavaScript, HTML, CSS e Joi. Caso
    haja novas ferramentas, será feita uma atualização no futuro desta página.
  </p>
</div>
