<!DOCTYPE html>
<html lang="pt-br">
  <html>
    <!---Head--->
    {{>head}}
    <body class="background">
      <!--Cabeçalho-->
      {{>header}}
      <!--Conteúdo Da Pagina-->
      <main class="main">
        <div class="texto">
          <div id="texto">
            <!--Importe do javascript usado aqui-->
            <script src="javascripts/textoRotaInicial.js"></script>
          </div>
        </div>
        <section class="localLogin">
          <div class="imgLogo">
            <img src="/images/logoWolf.PNG" />
          </div>
          {{>formLogin}}
        </section>
      </main>
    </body>
  </html>
</html>
