/*Style do projeto*/
*{
  margin:0;
  padding: 0;
}

.background{
  background-color: black;
}

/*Body*/
body{
  display: flex;
  flex-direction: column;
}

/*Header*/
header{
  background-color: #505050;
  display: flex;
  justify-content: space-around;
}

nav{
  font-family: 'Saira Stencil One', cursive;
  font-size: 20px;
}

ul{
  margin-left: 5px;
}

a{
  color: aliceblue;
}

/*Footer*/
footer .container-fluid{
  background-color: #505050;
  display: flex;
  margin-top: auto;
}

.msg p{
  margin: 8px;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.favicon{
  display: flex;
   justify-content: flex-end;
   margin-left: 10px;
}

.favicon a{
  margin: 6px;
  margin-right: 8px;
}

/*Main*/
main{
  flex: 1;
  padding: 20px;
}

h1{
  color: aliceblue;
}

.imageHome{
  display: flex;
  justify-content: center;
}

/*Texto do Arquivo txt*/
.texto{
  color: aliceblue;
  font-size: 16px;
  justify-content: center;
  font-family: 'Roboto';
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*formLogin*/
form{
  margin-top: 8%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

label {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  justify-self: left;
}

.input {
  height: 30px;
  width:50%;
  border-radius: 5px;
  padding-left: 1%;
  border: none;
}

.meuCenter {
  width: 18%;
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.titulo{
  display: flex;
  justify-content:center;
  align-items: center;
  font-weight: bold;
  font-family: 'Saira Stencil One', cursive;
}

.textoCad p{
  margin: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textoCad{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

/*Login.mustache*/
.footerLogin{
  margin-top: 10%;
}

