/*Style do projeto*/
*{
  margin:0;
  padding: 0;
}

.background{
  background-color: black;
}

/*Body*/
body{
  display: flex;
  flex-direction: column;
}

/*Header*/
header{
  background-color: #505050;
  display: flex;
  justify-content: space-around;
}

nav{
  font-family: 'Saira Stencil One', cursive;
  font-size: 20px;
}

ul{
  margin-left: 5px;
}

a{
  color: aliceblue;
}

/*Footer*/
footer .container-fluid{
  background-color: #505050;
  display: flex;
  margin-top: auto;
}

.msg p{
  margin: 8px;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.favicon{
  display: flex;
   justify-content: flex-end;
   margin-left: 10px;
}

.favicon a{
  margin: 6px;
  margin-right: 8px;
}

/*Main*/
main{
  flex: 1;
  padding: 20px;
}

h1{
  color: aliceblue;
}

.imageHome{
  display: flex;
  justify-content: center;
}
