/*Style do projeto*/
*{
  margin:0;
  padding: 0;
}

.background{
  background-color:#0E0E0E;
  flex-direction: column;
  min-height: 100vh;
}

.background main{
  flex: 1 ;
}

/*Header*/
header{
  background-color: #292727;
}

nav{
  font-family: 'Saira Stencil One', cursive;
  font-size: 20px;
}

li .txtColor{
  color:white;
}

/*Butão Nav quando está com a pagina tamanho menor*/
.buttonNv .navbar-toggler{
  background-color: white;
  margin-left: 150px;
}

/*Footer*/
footer{
  background-color: #292727;
  flex-direction: column;
}

.posi{
  margin-top: 60px;
}

/*Footer Home*/
.footerOtrasPag{
  margin-top: 50vh;
}

/*footer About*/
.footerabout{
margin-top: 80vh;
}

.msg p{
  margin-left: 15px;
  margin-right: 15px;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.favicon{
  margin-left: 15px;
  color: aliceblue;
}


/*Main Login*/
.main{
  display:flex;
  flex-direction: column;
}

/*Conf de Texto Txt*/
.texto{
  color: white;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
}

.logo{
  margin-top: -30px;
  display: flex;
  justify-content: center;
}

/*Template*/
.templateTexto{
  flex-direction: column;
}

.titulo{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Saira Stencil One', cursive;
  font-size: 20px;
  margin-top: 70px;
}

.paragrafo{
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-size: 14px;
  margin-left: -150px;
  margin-top: -50px;
}

/*Área do login*/
.localLogin{
  display:flex;
  justify-content: center;
  align-items: center;
  
}

/*Quadrado do Login*/
.loginQua{
  border-radius: 8px;
  background-color: #292727;
  width: 355px;
  height: 320px;
  padding: 35px;
  align-items: center;
  justify-content: center;
}

.loginQua form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginQua input{
  margin-top: 10px;
  border-radius: 8px;
  font-family: 'Roboto';
  background-color: #CFCDCD;
  color:black;
  outline: none;
  padding-left: 10px;
}

.posiImg{
  display:flex;
  justify-content: center;
  align-items: center;
}

.loginQua img{
  width: 60px;
  height: auto;
}


/* Comunity*/
.formMsg{
  border-radius: 8px;
  background-color: #292727;
  width: 355px;
  height: 460px;
  padding: 35px;
  align-items: center;
  justify-content: center;
}

.formMsg form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formMsg input{
  margin-top: 10px;
  border-radius: 8px;
  font-family: 'Roboto';
  background-color: #CFCDCD;
  color:black;
  outline: none;
  padding-left: 10px;
}

.formMsg textarea{
  margin-top: 10px;
  border-radius: 8px;
  font-family: 'Roboto';
  background-color: #CFCDCD;
  color:black;
  outline: none;
  padding-left: 10px;
}

.formMsg img{
  width: 60px;
  height: auto;
}

/*Trava o textarea*/
textarea[name=mensagem] {
  resize: none;
}


input::placeholder{
  color:black;
  font-size: 12px;
}

form [type="submit"]{
  display: block;
  background-color: #FFFFFF ;
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.textoP p{
  color: white;
  font-family: 'Roboto';
  font-size: 10px;
}
.textoP p a{
  color: #5568FE;
}

.paragrafoTemplate{
  margin-top: 30px;
  margin-left: 55px;
  margin-right: 30px;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-size: 14px;
}

.paragrafoTemplate p{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista{
display:flex;
justify-content: center;
}

p{
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-size: 14px;
  color: white;
}
