/*Style*/
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
}

nav{
  background-color: #505050;
  display:flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: aliceblue;
  height: 9vh;
}

.logo{
  display: flex;
  text-decoration: none;
  height: 50px;
  width: 140vh;
 
}

.ulLista{
  list-style: none;
  display: flex;
}

.ulLista li{
  letter-spacing: 3px;
  margin-left: 32px;
}

/*Main*/
main{
  
}

.image{
 background-size: cover;
 height: 80vh;
 display: flex;
 justify-content: center;
}

h1{
  color: aliceblue;
}

/*Rodapé*/
.container{
  background-color: #505050;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding-right: 10px;
  height: 90px; 
}

.escritaRodape{
  padding: 11px;
  flex-grow: 1; 
  text-align: left;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.midia{
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  margin-left: 10px; 
  transform: translate(-20%, -25%);
}

.midia a{
  margin-left: 2px; 
  width: 50px;
  transition: 0.4s;
}


