<!-----Rodapé-->
<footer>
  <div class="container-fluid">
    <div class="msg">
      <p>
        &copy; 2023 Todos os direitos deste site pertencem à Wolf Games Studios.
        O conteúdo deste site, incluindo textos, imagens e design, é propriedade
        exclusiva da Wolf Games Studios e está protegido por leis de direitos
        autorais. Nenhum conteúdo deste site pode ser reproduzido, distribuído
        ou utilizado sem a autorização por escrito da Wolf Games Studios.
      </p>
    </div>

    <div class="favicon">
      <a href="#"
        ><i class="fa-brands fa-instagram" style="color: #030303"></i
      ></a>
      <a href="#"
        ><i class="fa-brands fa-discord" style="color: #050505"></i
      ></a>
      <a href="#"
        ><i class="fa-brands fa-youtube" style="color: #0a0a0a"></i
      ></a>
      <a href="#"
        ><i class="fa-brands fa-twitter" style="color: #0c0d0d"></i
      ></a>
      <a href="#"><i class="fa-brands fa-twitch" style="color: #0f0f0f"></i></a>
    </div>
  </div>
</footer>
