<div class="container-fluid">
  <div class="titulo">
    <h1>Login</h1>
  </div>
  <form action="/sobre" method="POST">
    <label>Email</label><br />
    <input
      class="input"
      type="email"
      id="email"
      name="email"
      value="{{task.email}}"
      placeholder="Ex: teste@gmail.com"
    /><br />
    <label>Senha</label><br />
    <input
      class="input"
      id="senha"
      type="password"
      name="senha"
      value="{{task.senha}}"
    /><br />
    <div class="meuCenter">
      <input class="input" id="botao" type="submit" value="Login" />
    </div>
  </form>
  <div class="textoCad">
    <p>Em caso de não possuir cadastro, clique aqui</p>
  </div>
</div>
