<!DOCTYPE html>
<html lang="pt-br">
  <!---Head--->
  {{>head}}
  <body class="background">
    <!--Cabeçalho-->
    {{>header}}

    <!--Conteúdo Da Pagina-->
    <main>
      <div class="container-fluid">
        <div class="texto"></div>
        <div class="imageHome">
          <img src="/images/logo.png" alt="Logo Menu" />
        </div>
      </div>
    </main>

    <!--Rodapé-->
    {{>footer}}
  </body>
</html>
