<!DOCTYPE html>
<html lang="pt-br">
  <!---Head--->
  {{>head}}
  <body class="background">
    <!--Cabeçalho-->
    {{>header}}

    <!--Conteúdo Da Pagina-->
    <main>
      {{>formLogin}}
    </main>

    <!--Rodapé-->
    <div class="footerLogin">
     {{>footer}}
    </div>
  </body>
</html>
