<!DOCTYPE html>
<html lang="pt-br">
  <!---Head--->
  {{>head}}
  <body class="background">
    <!--Cabeçalho-->
    {{>header}}

    <!--Conteúdo Da Pagina-->
    <main>
      <div class="container-fluid">
        
      </div>
    </main>

    <!--Rodapé-->
    {{>footer}}
  </body>
</html>
