<!DOCTYPE html>
<html lang="pt-br">
  <html>
    <!---Head--->
    {{>static/head}}
    <body class="background">
      <!--Cabeçalho-->
      {{>static/header}}
      <!--Conteúdo Da Pagina-->
      <main class="main">
        <div class="titulo">
          <h1>Contact</h1>
        </div>
        <section class="localLogin">
          <div class="formMsg">
            <div class="posiImg">
              <img src="/images/logoWolf.PNG" />
            </div>
            <!--Importe Template----->
            <script src="javascripts/contactForm.js"></script>
            {{>dynamic/formContact}}
          </div>
        </section>
      </main>
      <!--Rodapé-->
      {{>static/footer}}
    </body>
  </html>
</html>