<form action="/perfil/{{ user._id }}" method="POST">
  <input
    class="input"
    type="text"
    id="name"
    name="name"
    value="{{ task.name }}"
    placeholder="Nome Ex: Maria Santos"
    autofocus
    required
  />
  <input
    class="input"
    type="text"
    id="cpf"
    name="cpf"
    value="{{ task.cpf }}"
    placeholder="CPF Ex: 00022255589"
    autofocus
    required
  />
  <input
    class="input"
    type="email"
    id="email"
    name="email"
    value="{{ task.email }}"
    placeholder="Email Ex: teste@gmail.com"
    required
  />
  <input
    class="input"
    id="password"
    type="password"
    name="password"
    value="{{ task.password }}"
    placeholder=" Senha Ex: senha123"
  />
  <input class="input" id="botao" type="submit" value="
  Change account" />
  <input class="input" id="botao2" type="submit" value="Delete account" />
</form>
