<!DOCTYPE html>
<html lang="pt-br">
  <html>
    <!---Head--->
    {{>static/head}}
    <body class="background">
      <!--Cabeçalho-->
      {{>static/header}}
      <!--Conteúdo Da Pagina-->
      <main class="main">
        <!----Importe description----->
        {{>static/descriptionTemplate}}
      </main>
      <!--Rodapé-->
      <div class="footerabout">
        {{>static/footer}}
      </div>
    </body>
  </html>
</html>