<!DOCTYPE html>
<html lang="pt-br">
  <html>
    <!---Head--->
    {{>static/head}}
    <body class="background">
      <!--Cabeçalho-->
      {{>static/headerLogado}}
      <!--Conteúdo Da Pagina-->
      <main class="main">
        <div class="texto">
          <!--Importe Template-->
          
          <div class="logo">
            <img src="images/logo.png" alt="Logo Marca" />
          </div>
        </div>
        <div class="buttonContainer">
          <a href="/inserir_jogo" class="btn btn-primary">Inserir Jogo</a>
        </div>
      </main>
      <!--Rodapé-->
      <div class="footerOtrasPag">
        {{>static/footer}}
      </div>
    </body>
  </html>
</html>