<p>A proposta é a criação de um site fictício de vendas de jogos chamado Wolf Games, semelhante ao Steam, onde os usuários poderão cadastrar seus jogos fictícios para colocá-los à venda. O site também exibirá uma biblioteca de jogos adicionados pelos usuários. É mais ou menos isso.</p>